<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/map_style.css">
    <title>Beeline Business</title>
</head>
<body>
    <section class="wrapper">
        <div class="main_container">
            <div class="map_container main_container_block">
                <div class="map"></div>
                <div class="dashboard"></div>
            </div>
            <div class="engineers_container main_container_block">
                <h2 class="text">Доступные инженеры</h2>
                <div class="engineers">
                    {% for engie in JSON%}
                        <div class="engineer" id="engineer{{engie['id']}}">
                            <div class="engineer_block">
                                <div class="engineers_block_name">
                                    <p>Иванов Иван</p>
                                    <p>Инженер 1</p>
                                </div>
                                <div class="status">

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="button button_1">Перерасёт маршрутов</button>
            <button class="button button_2">Отмена заявки</button>
            <button class="button button_3">Инженер недоступен</button>
            <button class="button button_4">Срочная заявка</button>
            <button class="button button_5">Добавить</button>
        </div>
    </section>
</body>
</html>